# sha256: agPOL-r90ZOguoom29l3PnV9Ll1eeTOmLqwSmBO9OBo
# sha256: BmutQstMZpROfvz3ME09F_ew6yIuU5WM3YZkINLotBI
Django==1.8

# sha256: JLo_Moq6CNjVBbwqj2ipTr4kqF6Eg2QLZnIhvA79Ox4
psycopg2==2.5.4

# sha256: ufv3R_qOcR0zDy9Da5suz17tnrZ6Y3yoGrzRHCq-3sg
python-decouple==2.3

# sha256: pOwa_1m5WhS0XrLiN2GgF56YMZ2lp-t2tW6ozce4ccM
MarkupSafe==0.23

# sha256: Pk2AGZlglZuCiVGqJMv6o2zr7RSdzXKMEehVeYsV-HA
# sha256: 2slBnbPs4nu1PHQzJD_CLtQs9o3p1sQSk5Dh2a7-YxA
whitenoise==1.0.6

# sha256: 0yV2uq13_dnmhZvpfCtqPBem9IQ2Q4nbcx8Gl7ehlmE
django-csp==2.0.3
# sha256: eLAxFrrdDbsu1N7clqSj1CE4uUu4n8Lrmffzvf0Zn1Y
# sha256: zIrr3sWl-5iZEvFX93s8IaXi8tpiOvkKe0drEGqDSr8
# sha256: drxjpOLV5aDfd8p9GPD1bixGz7YrcRA7qSqSx5-rHgM
nose==1.3.4

# sha256: Js7zxvYt8u7pVaJRld5veTiBMXwPX9GhxvniLzUakxM
# sha256: 7ZCm7YglpRbGU_yQmcBTvjNbZPoASpA6GBt-AUiOxdQ
django-nose==1.4

# sha256: yZzJcW1mVdnIvLHndjK4YVvwq9KC16vZ9cIUjK1_xmk
# sha256: XuGkPM0HFtYGFSHuxpN8mD76AneTAT5XJxLE2lXHyD4
flake8==2.3.0

# sha256: q409VanEtW-Xy2D21rk92UlUwWEU8K6HLCR6zoI_Fds
# sha256: jy0vup7228b_a2mm76_Yg1voKHm4rnmkM2HH1k42Pew
# sha256: PphGaqL-VFQLy6mqbgGjn0ARDWdmjClzQMS5UUt8xJw
# sha256: MmP8nqIHC-HP-ERXhtbzGLdnaMAGg4n7OFOw0us_THI
ipython==2.3.1

# TarGZ
# sha256: 8uJz7TSsu1YJYtXPEpF5NtjfAil98JvTCJuFRtRYQTg
# Wheel
# sha256: ygF2j97N4TQwHzFwdDIm9g7f9cOTXxJDc3jr2RFQY1M
dj-database-url==0.3.0
# sha256: LNJ4-dD_p24H_DoS-ZJWxmLphYDyfcr56mfy9O2MdpQ
# sha256: __zKBj0xFp19p-I7PAAe9_MUzvsgRlCSIXLW02VSSb8
# sha256: 8FE-bijOu4KZ58wcRNFlUT-lEu0IVxSldwNiLTynbvI
mincss==0.8.6
# sha256: BTWn4nAUh0snrjpNM-h0njRb36YnZhlSCLeZa_EQBoI
cssselect==0.9.1
# sha256: 8DnhdbUqDnmH28j5L_FwE3muz-3sVo5cjw8Ox-5dTlQ
# sha256: 5hQpiR_viT2Gv7ivGcpHhj4oBQjFYpzYS-s5PcK849Q
# sha256: o84bEbBwoYAeDnYuOBGfNPEFrEjwv2dX9gZk01iPShI
# sha256: xmLdimH5mA7iC4ycu9Nb4gF3saL9hHFCDORmJhIWphw
# sha256: Md6qO3EJezPs9kgF6SzpykS07Ew51rFLv9yqzgGcvy0
# sha256: BpWUg30DdqG6z1zEKqmhvi4cE5bcYvfQf3NYr-zTSt8
# sha256: B1upxmdTHjTqVq4I8x10-z66VqYDLiKvARAOOe8nK3o
# sha256: fvfPOkevy2xVCLhRLfN2drxQ538fR1YwJpa3cpZJz4I
# sha256: 4jnGdQYm-8Cn9MGQI_-YNOX6DFDLGzeb40ETeDxf1tY
# sha256: MU9QkpUDKp5c_WEOsoxgcYZDdCG1kEQlWFWSJBHEqxE
# sha256: u3Emstr3j1n3qvp04PRQbLJDeE7JZlD7_dsApM1rBco
lxml==3.4.1
# sha256: a2yh1wGFo3Wdk2KTQFL83Zq4SansvU_6uhpE33bHU3Y
# sha256: FnCXMnLgiHHUD7tMobyUjfKU2EsbDahslwUUXVkmE1I
# sha256: jP8rvGBp_J5xdMbruWCza_npug8S26487OrR3kzoniA
# sha256: RQR2L12IALmPpxN0nACs_vhBmCZWj5NjxJDkUUaoka8
cssutils==1.0
# sha256: CjoiZeHvsN76ci0fQpcw3J35da3DxgrH0rQyvfA8BB0
# sha256: Xe0vqQlP19_rPakmNkCf1wKg0H1gYoNQTX7gRAHO5cs
# sha256: cyCRkITm2sj0VAY4pGRHo71zD8oXKvwX0sA-7SLPT1E
pygments==2.0.2
# sha256: HwRtz17HEu076GhLnzPJW3bijNHIJdsPXhVXv9h7N0U
# sha256: e3c179Ox4jI9yfzvBgs4DQX18YvQ8kf16edKYoJ53mY
requests==2.5.1
# sha256: qZ245ZwSATitinLuztzCS0UQ0u7TzkghO34y8izE7m4
pyOpenSSL==0.14
# sha256: 0P40ymJSUdKblkxDRxQBWjBj6MLXTKMLL5ZPXzHTTbM
# sha256: 2-Wqhni1PbnhU_7u3jiNxfvaVnvik8Pk8UEqNgEvHvA
# sha256: zIBtQ_Pnm-QPkj2U9ULyOpTG3buaYyWLC_h18yVQiXM
ndg-httpsclient==0.3.2
# sha256: ViwdlP3nclV_bH_MzYjE8bWXQRIJ9pQ3vMzfC1XhmNo
# sha256: zyEZCBbe1eKqmYUsyLcvl2vo3X4GVHCvVS5N02IJoPk
# sha256: CuAd0p4lO-IS1LAsueyWfPb0I6G43ow-ZVBZHKDVowk
# sha256: bTs1EQn0GQzZdA12M4RpkIGl8uuNc9qn5IUAn7ZGGMA
# sha256: 5LC7qaDGJqSTLdBeiSSJwki_7ptmZ4j1agX2VLd_gz0
# sha256: _QhkM6e0Ktzuene985GEY1Du5ibmxoLG58nV-WTgTXk
# sha256: Db2pD0HvGGBVVxS7xigQGXSOcCo759Oupp0Kclgn4x4
# sha256: xMQmSMaK_U4YJIY2XII6nNjnVXDWz0kJ1_CUgzP7PCA
# sha256: 5PgdU8Uz9r2VJrBH8Ef3sQHCSrFzOcGnrY-YslwQHqs
pyasn1==0.1.7
# sha256: MVg9nhJ2eR2EqgFv3IeR_RhSisV5fbrhGLMOMuApDE8
django-jsonview==0.4.3
# sha256: tA777GxXkjVRMquS0OBIu9C7mdSOoxIcDdeIUE68oto
# sha256: 7uktTqoNdirE5DwIsBuvIK1fthFbOQ06Dj60uDVb7yU
django-pipeline==1.4.6
# sha256: 6Cljb4OMUUa2b3QmztUhmkhGMmAWK1ZqIHMwd4pTMiY
# sha256: R8ZNJ704IvGVNqxTaHgUNiz9y4L9YvnN9NEgdFFpDYA
# sha256: ErI5dd22usqL64ByotYFEGAY29qgnrukuiD6z1EvRsY
sorl-thumbnail==12.2
# sha256: M4V6UJvvUCSpMIWHJ_OUs0dP_TfPktaxBlCb-JYsXYE
# sha256: p0ZLmaEH1eJCrkAw7fj__AULhKb8UXq4rwnvt2PJuzU
# sha256: EJ6qqeHFMITiSWG7YLWmH3OYlw0MPIWZWbDQKcUgj-0
# sha256: UYT80jXgwDJVPLcagW8ide7CuNHmC_XH60JULYOGwtE
# sha256: zczt_Dfh5MPUyTYHR9k4uMwkIK-ImLbCYpUAwXlzGh4
# sha256: 7orohKBBinFH7di1VA7vtJJsH4sMqmeFuaVVC9cFX1I
# sha256: l3YELt4gUMwiTbHhOagVoX_JdUomJOyIU9Cv2ENm0HM
# sha256: 0V9pqfPp0PLLQ5woNIA7mwZJyzgSO54KUnfNsdWZfcE
# sha256: VA5M3fmBVp8qzxAT3shgx5PjG6vWvEukbhgEQDv8izY
# sha256: Imf7v4OT4pjBss58OXx16I6EiSZRUwcOxR2Va57KyNw
# sha256: RV0E4hRRswsXdKAP5OqDx0YTYFVAaQ3mNBHnUzSoC_0
# sha256: LQRA_cjXJaSTdxzOSIpyz9RSs7U8Z0NYb36S-EmE68c
# sha256: wm8IV_3tsj7wis2y_f7hUnGvcXKZSDz070H0fGBPvaE
# sha256: OLTYk6RG4HeIZHT5U8Wqjcb5D0eo2jHv9jsW0pTQPAA
# sha256: bxVhxkfukaQ5xQ6Vdssgkgo76Xdv3xasKu9SSRd7cBA
# sha256: QzVjtIrAHVLk_eFQ-eB2NPWO5mAJrkrsLN-4Tz1UOL4
# sha256: TZelSi7TgM1jCuM2LxabUza0j4Nohho0SQ11yBPGfLc
# sha256: VGO94rNIPNRfQ7PGowNKeB88otLM0PkGdiIvvr9n0S0
# sha256: xDHRfDJOzNnJmqGrtQbIzc-kHijRFOqVB0-BnAZIoPM
# sha256: 0pLJWroIX8sP-DkSm4TruMlku6aNQrpWc9saqd5bCHQ
# sha256: dPaVRRPBxHbx6OJB08BH4wZ8qf8a5_l6XMnRz26Bm5o
# sha256: OiB8Z4Omof2KlYpQWYJoNlVQd1hkh4u6a4ZOm41kMhg
# sha256: ODiK8GGD6bIBMx_yEk6qORnPnXcgB1_cz2tX8hfbDYI
# sha256: _hqmIhR-9zhPSRqLmSHp6-JvbxNajzi1qjCR1PUC5M8
# sha256: h2DBGKAhXroWP3eCEQ5-_NuxX4pzIfP2HFrA27sSyZY
# sha256: xVY_yPQtnsUnr12msu1Ypzj7dBl7Hl5A1_2gXVoDMPY
# sha256: wBXJ7HVv3tdgayXDEVENYxynd0wIWllUiEcg0QRE4Lg
# sha256: WmDXjBHT0FSGdxTeyzYFcFzk6mQ4jazR68_WMRryzVU
# sha256: ow5vX3oa-6gcdeeYBfD4BqTDbXDk0i8pDjsRwmg5XjY
# sha256: ANcnduYtZsiO0B62doDtJNnbZ5Bxoa3jZcJcz3qUXbU
# sha256: AqyA_OcuN_4YJdNGc3QU3Ae6UmfromnkqcOBEs5xkKA
# sha256: K1riSa1EpJE_Qgho5b1UiFx5xvF4swj98nEOcoJkWuU
# sha256: ei7NPtxa6NMAwXGPrpTzsGxTR8qh-INRYzeGIdLJsdg
# sha256: JshAGlFVwva8o0EWtySebzr7bwE34s785sof4eSV0Cs
# sha256: EgP74zfVbifDYCQ-w29QVP_O1HP2bEzyaSTNIPnSJbg
# sha256: Q2O1JSfCY-d_WxjD3__RWuRU7fDERXGX7L4phjplGTg
Pillow==2.8.1
# sha256: SqEp342QB7GSv4IBP0FVM5lGUtfKqTDQAmh-tCpsKkE
# sha256: uLfjVjC1U54moZffxgBb6eHpoTVJazd3I6jrwBuby_8
pep8==1.6.2
# sha256: 2_WWGNWp7_Fy0lAh82YUvlrwUB5FJ5dcpQS5WGPxT-0
# sha256: CST5QHDG_FfUCLFphIxbOIMmaP_-Bg5ItIA_sj4OPq8
celery==3.1.18
# sha256: mWbSw_hrIzdNqYkFhPFrA_bkYFWCTjChCHFpdNRdHkU
# sha256: 98W-TbhvGnbMxMgH-QCFNidavsPigV0YJl1pSu7zyzw
# sha256: bOkY5I2u1knhOqTrLOmdgCEkEUAb5CKIyURzqBEJJE4
# sha256: ZEHnmPiGN0TJBXTeJTvtMoxHf9LIbK9SuNnYXx7Ln5Y
# sha256: TWTtG54OcwlfXPqH8Ol920yEAEno7-t-Y7RhGLodYjo
# sha256: Oe8FQeSJsc9VFc7fGx-Z3lhf1mBGPNzeQ6A9fZIEJ4I
# sha256: aFsZlAJlchd0WK8UPMJKIIL0APGOY_3I4u1o3ZO7D0k
# sha256: hEYBPfvemz9Pm_6glBjd1SZ2CoeYxBut0_cHqYrQdFs
# sha256: 1f9wYInpFQdg0ji2YgOiTUoKYXUWBBAZGZX_BNGJP6o
# sha256: p4tITVRy3Yxoj4s-7hhkaiXGbORbLCZlKFD2r5zlKxc
# sha256: xO5wy0B_koRResNo8SHPB5anE0uWHlPZ2vGqro9E-5A
# sha256: APNfsOfi_DSM0JHSXTbGdotyFGPRI5bWipSRqKX5Hs8
pytz==2015.4
# sha256: aI-UZrHDrhQQY4Hm29MoEV51xSYMVC60jmxGkx9pKMw
billiard==3.3.0.20
# sha256: _qhlOuS4en6wmWWUCfCeaANqe4PwoVoLxq7629mKUdw
# sha256: H1ZavUTEt9-qTdVD1S-YLS8AaroKKzgwVCtNJagB_gk
kombu==3.0.26
# sha256: N4Ethjya0-NcBzTELgvwMgzow77YLNIK1UyzTRWBV7o
anyjson==0.3.3
# sha256: 406XZaYSD0ZkwSD0GYp4bDmg-35KWb0ZotbjqIS2OIk
# sha256: 68_IZ95aaPn1uhTRHbrYjmr_hDWo05M51c6w5bBt5kA
amqp==1.4.6
# sha256: B6nGUKHyDgQM9f_9C82SCoHQc0kVEw2JjAMlxfr7LsQ
# sha256: uiqjz1S7cQ9G8WiJ-hgzExdFipLiUxvo4-jTg-_UoU0
django-celery==3.1.16
