{% extends "collected/base.html" %}
{% load pipeline %}

{% block page_title %}Collected pages{% endblock %}

{% block extrahead %}
<style>
{{ pygments_css | safe }}
div.result {
  margin-bottom: 40px;
}
.highlighttable td {
  padding: 1px 4px;
}
.highlit-line {
  background-color: #fffa9e;
}
</style>

<base href="/collected/">
{% endblock %}


{% block row %}
<ui-view></ui-view>

<script type="text/ng-template" id="start.html">
{% include "collected/partials/start.html" %}
</script>
<script type="text/ng-template" id="collected.html">
{% include "collected/partials/collected.html" %}
</script>
<script type="text/ng-template" id="source_view.html">
{% include "analyzer/partials/source_view.html" %}
</script>

{% endblock %}

{% block extrajs %}
{% javascript 'angular' %}
{% javascript 'collected' %}
{% endblock %}
