{% extends "base.html" %}
{% block page_title %}Analysis for {{ domain }}{% endblock %}

{% block extrahead %}
<style>
div.result {
  margin-bottom: 40px;
}
</style>
{% endblock %}

{% block row %}
  <h1>Analysis for <code>{{ domain }}</code></h1>
  <h3>Number of collected pages: <b>{{ pages.count() }}</b></h3>
  <h2 title="Was: {{ filesizeformat(total_before) }}, Could be {{ filesizeformat(total_after) }}">
    Potential Total Save:
    <b>{{ filesizeformat(total_before - total_after) }}</b></h2>

  <h2>Results</h2>
  {% for result in results %}
  <div class="result">
    <h5>
      {% if result.line %}
      <b>Inline CSS</b>
      {% else %}
      <b>Linked CSS</b>
      {% endif %}
      <a href="{{ result.url }}">{{ result.url }}</a>
    </h5>
    <button type="button" class="diffs">Diff ({{ count_diff_lines(result.before, result.after) }})</button>
    <button type="button" class="suspects">Suspects ({{ result.suspects.count() }})</button>
    <div class="diff" style="display:none">
      <pre>{{ diff_table(result.before, result.after) }}</pre>
    </div>

    <div class="suspects" style="display:none">
      {% for suspect in result.suspects %}
      <div class="suspect">
        <code>{{ suspect.selector }}</code>
        {% if suspect.line %}
          <a href="{{ url('analyzer:source_view', domain, result.id) }}#L{{ suspect.line }}" title="line">#{{ suspect.line }}</a>
        {% endif %}
        <small>{{ filesizeformat(suspect.size) }}</small>
        <pre style="display:none">{{ suspect.selector_full }}</pre>
        <pre>{{ suspect.style }}</pre>

      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
  <hr>
  <form action="{{ url('analyzer:analyze') }}" method="post">
    {{ csrf() }}
    <input name="domain" value="{{ domain }}" type="hidden">
    <input class="button-primary" value="Re-submit for analysis" type="submit">
  </form>

{% endblock %}

{% block extrajs %}
<script src="{{ static('analyzer/js/analyzed.js') }}"></script>
{% endblock %}
