{% extends "base.html" %}
{% block page_title %}Diff view {{ result.url }}{% endblock %}

{% block extrahead %}
<style>
{{ pygments_css | safe }}
.highlighttable td {
  padding: 1px 4px;
}
.highlight {
  background-color: white;
}
.linenos pre {
  color: #999;
}
</style>
{% endblock %}

{% block row %}
  <h3>Diff view for <a href="{{ result.url }}">{{ result.url }}</a></h3>
  <h5>
    <a href="{{ url('analyzer:source_view', domain, result.id) }}">
      Source view for <b>{{ result.url }}</b>
    </a>
  </h5>
  <h5>
    <a href="{{ url('analyzer:analyzed', domain) }}">
      Back to analysis for <code>{{ domain }}</code>
    </a>
  </h5>

{{ code | safe }}
{% endblock %}
