{% extends "base.html" %}
{% block page_title %}Start analysis{% endblock %}
{% block row %}
  <h1>Start analysis</h1>

  <form action="{{ url('analyzer:analyze') }}" method="post">
    {{ csrf() }}
    <input class="u-full-width" name="domain"
    placeholder="mydomain.example.com" id="id_domain" type="text">
    <input class="button-primary" value="Start analysis" type="submit">
  </form>
  <p>
    If you don't know your domain, you might not have submitted anything.<br>
    See <a href="#">Help page</a>.
  </p>
  <p>
    Here are some recent submissions:
  </p>
  <ul>
    {% for domain in recent_domains %}
    <li><a href="{{ url('analyzer:analyzed', domain) }}"><code>{{ domain }}</code></a>
    {% endfor %}
  </ul>
{% endblock %}
